body {
  background-color: MintCream;
  cursor: default;
}

hr {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-style: ridge;
  border-width: 2px;
}

#whyIsThisNotWorking {
  text-align: center;
  color: Green;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-skip: ink;
  text-shadow: 0px 0px 5px DarkGreen;
}

#whyIsThisNotWorking:hover {
  color: LawnGreen;
  cursor: pointer;
  text-shadow: 0px 0px 3px DarkGreen, 0px 0px 10px Green;
}

.inDev {
  visibility: hidden;
}

.title {
  color: Green;
  font-family: sans-serif;
  float: none;
  text-shadow: 0px 0px 0px DarkGreen;
  text-align: center;
  cursor: default;
}

.title:hover {
  font-size: 33px;
  text-shadow: .25px 4px 10px DarkGreen;
}

code {
  font-family: monospace;
  background-color: Gainsboro;
}

code:hover {
  background-color: LightGray;
}

.button {
  text-align: center;
  background-color: Green;
  height: auto;
  width: 100px;
  border-radius: 20px;
  padding: 10px 30px;
  margin: 12px auto;
  color: Linen;
  cursor: pointer;
}

.button:hover {
  padding: 9px 27px;
}

button:active {
  padding: 7px 21px;
  background-color: DarkGreen;
  color: GhostWhite
}
