body {
  background-color: MintCream;
  cursor: default;
  margin: auto 30%;
}

hr {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-style: ridge;
  border-width: 2px;
}

#helpLink {
  text-align: center;
  color: Green;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-skip: ink;
  text-shadow: 0px 0px 5px DarkGreen;
}

#helpLink:hover {
  color: LawnGreen;
  cursor: pointer;
  text-shadow: 0px 0px 3px DarkGreen, 0px 0px 10px Green;
}

/*
.inDev {
  visibility: hidden;
}
*/

.title {
  color: Green;
  font-family: sans-serif;
  font-size: 32px;
  margin: 10px auto 15px auto;
  float: none;
  text-shadow: 0px 0px 0px DarkGreen;
  text-align: center;
  cursor: default;
}

.title:hover {
  font-size: 33px;
  margin-bottom: 9.5px auto 14.5px auto;
  text-shadow: .25px 4px 10px DarkGreen;
}
/*
nav {
  /text-align: inherit;/

}
nav li a {
  text-decoration: none;

  list-style-type: none;
    margin: 1px;
    padding: 0;
    overflow: hidden;
    background-color: DarkGreen;
    position: fixed;
    top: 0;
    width: auto;
}
nav li {
  float: left;
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
*/
code {
  font-family: monospace;
  background-color: Gainsboro;
}

code:hover {
  background-color: LightGray;
}

.button {
  text-align: center;
  background-color: Green;
  height: auto;
  width: 100px;
  border-radius: 20px;
  padding: 10px 30px;
  margin: 12px auto;
  color: Linen;
  cursor: pointer;
}

.button:hover {
  padding: 9px 27px;
  margin: 13px auto;
}

button:active {
  padding: 7px 21px;
  background-color: DarkGreen;
  color: GhostWhite
}
