body {
  background-color: MintCream;
  cursor: default;
}

hr {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-style: ridge;
  border-width: 2px;
}

.title {
  color: Green;
  font-family: sans-serif;
  float: none;
  text-shadow: 0px 0px 0px DarkGreen;
  text-align: center;
  cursor: default;
}

.title:hover {
  font-size: 33px;
  text-shadow: .25px 4px 10px DarkGreen;
}

code {
  font-family: monospace;
  background-color: Gainsboro;
}

code:hover {
  background-color: LightGray;
}

.button {
  font-family: sans-serif;
  font-weight: bolder;
  background-color: Chartreuse;
  text-decoration: none;
  color: black;
  text-shadow: 0px 0px 6px DarkGreen;
}

.button:hover {
  background-color: hsl(120, 100, 45);
  font-weight: bold;
  text-shadow: 0px 0px 4px DarkGreen;
}
.button:active {
  background-color: hsl(120, 60, 36);
  font-weight: normal;
  font-size: 95%;
  text-shadow: 0px 0px 2px DarkGreen;
}
